<!--Copyright inMateriis 2018-->
<!DOCTYPE html>

<html>
  <head>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
        </style>
  </head>
	
	<body>

    <ul>
      <li><a class="active" href="../fillQuoteForm">Fill Quote</a></li>
      <li><a href="../getQuotes">Quote List</a></li>
      <li><a href="../getJobs">Job List</a></li>
      <li><a href="../fillClientForm">Create Client</a></li>
    </ul>

	<form action="../createClient/" method="POST">
    {% csrf_token %}
  New Client:<br><br>
  
  Nombre:
  <input type="text" name="name"><br><br>

  Empresa:
  <input type="text" name="company"><br><br>

  Email:
  <input type="text" name="email"><br><br>

  Teléfono:
  <input type="text" name="telephone"><br><br>

  RFC:
  <input type="text" name="rfc"><br>

  Dirección (línea 1):
  <input type="text" name="addressLine1"><br>
  Dirección (línea 2):
  <input type="text" name="addressLine2"><br>
  Ciudad:
  <input type="text" name="city"><br>
  País:
  <input type="text" name="country"><br>
  CP:
  <input type="text" name="zip"><br><br>

  <input type="submit" value="Add Client">

</form>
	</body>
	
</html>