<!--Copyright inMateriis 2018-->
{% if job_list %}
<table style="width:100%">
        <tr>
          <th>Job ID</th>
          <th>Quote ID</th>
          <th>Delivery Date</th>	
          <th>Design File</th>
          <th>Material</th> 	
          <th>Material Amount</th> 
          <th>Time for Print</th> 
          <th>Status</th> 
          <th>Printer</th>
          <th>Started At</th>	
          <th>Due At</th>	
          <th>User</th> 	
        </tr>
        {% for job in job_list %}
            {% if job.status != 'on hold' %}
                <tr>
                    <th>{{ job.id }}</th>
                    <th>{{ job.quote_id }}</th>
                    <th>NA</th>	
                    <th>NA</th>
                    <th>NA</th> 	
                    <th>NA</th> 
                    <th>NA</th> 
                    <th>NA</th> 
                    <th>NA</th>
                    <th>NA</th>	
                    <th>NA</th>	
                    <th>NA</th> 
                </tr>
            {% endif %}
        {% endfor %}
      </table>
{% else %}
    <p>No jobs are available.</p>
{% endif %}
