<!--Copyright inMateriis 2018-->
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
    </style>
</head>

<body>
    <ul>
        <li><a class="active" href="../fillQuoteForm">Fill Quote</a></li>
        <li><a href="../getQuotes">Quote List</a></li>
        <li><a href="../getJobs">Job List</a></li>
        <li><a href="../fillClientForm">Create Client</a></li>
    </ul>

{% if job_list %}
<table style="width:100%">
        <tr>
          <th>Job ID</th>
          <th>Quote ID</th>
          <th>Delivery Date</th>	
          <th>Design File</th>
          <th>Material</th> 	
          <th>Material Amount</th> 
          <th>Time for Print</th> 
          <th>Status</th> 
          <th>Printer</th>
          <th>Started At</th>	
          <th>Due At</th>	
          <th>User</th> 	
        </tr>
        {% for job in job_list %}
            {% if job.status != 'on hold' %}
                <tr>
                    <th>{{ job.id }}</th>
                    <th>{{ job.quote_id }}</th>
                    <th>NA</th>	
                    <th>NA</th>
                    <th>NA</th> 	
                    <th>NA</th> 
                    <th>NA</th> 
                    <th>NA</th> 
                    <th>NA</th>
                    <th>NA</th>	
                    <th>NA</th>	
                    <th>NA</th> 
                </tr>
            {% endif %}
        {% endfor %}
      </table>
{% else %}
    <p>No jobs are available.</p>
{% endif %}
</body>