<!--Copyright inMateriis 2018-->
<!DOCTYPE html>


<html>

	
	<body>

<table style="width:100%">
  <tr>
    <th>Job ID</th>
    <th>Quote ID</th>
	<th>Delivery Date</th>	
    <th>Design File</th>
    <th>Material</th> 	
    <th>Material Amount</th> 
	<th>Time for Print</th> 
    <th>Status</th> 
    <th>Printer</th>
    <th>Started At</th>	
	<th>Due At</th>	
    <th>User</th> 	
  </tr>
  <tr>
    <th>J1001</th>
    <th>Q1002</th>
	<th>14/12/2018</th>	
    <th>1002Bolt</th>
    <th>ABS-Black</th> 	
    <th>200g</th> 
	<th>5:10</th> 
    <th>Printing</th> 
    <th>Brunhilde</th>
    <th>11/12/2018 10:20</th>	
	<th>11/12/2018 17:30</th>	
    <th>Us005</th> 
  </tr>
  <tr>
    <th>J1002</th>
    <th>Q1001</th>
	<th>12/12/2018</th>	
    <th>1001Lid</th>
    <th>PEEK</th> 	
    <th>25g</th> 
	<th>0:45</th> 
    <th>Awaiting</th> 
    <th>N/A</th>
    <th>N/A</th>	
	<th>N/A</th>	
    <th>N/A</th> 
  </tr>
</table>
	
	</body>
	
</html>