  <!--Copyright inMateriis 2018-->
  <!DOCTYPE html>


  <html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  Client:
            <select id="client" onchange="modifyClientAndDate()">
            <option value="AASmith">Company A : A Smith</option>
            <option value="BBJones">Company B : B Jones</option>
          </select> <br> <br>
  
            Date:<br>
                  <input type="date" id="date" onchange="modifyClientAndDate()"/>
          <br> <br>
          Add Quote:<br><br>
  <button class="AddItem" type="button" onclick="addForm()">Añadir</button><br> <br>
    <body>
    <div id="forms">
          <form action="../createQuote/" method="POST" id="form" enctype="multipart/form-data">
              {% csrf_token %}
  
              Client:
              <select name="client" class="client">
              <option value="AASmith">Company A : A Smith</option>
              <option value="BBJones">Company B : B Jones</option>
            </select> <br> <br>
    
              Date:<br>
                    <input type="date" name="date" class="date"/>
            <br> <br>
  
            <!--This part of the form need to be duplicated when a new item is added-->
            Print File:<br>
            <input type="file" id="printFile" name="printFile1"><br><br>
  
            Print Orentation:<br>
            <input type="file" id="orientationFile" name="orientationFile1"><br><br>
  
            Material:
            <select name="material">
            <option value="ABS">ABS</option>
            <option value="Nylon">Nylon</option<br>
          </select>  <br><br>
  
            Capas (mm):
            <select name="layerThickness">
            <option value="0.5mm">0.5mm</option>
            <option value="1mm">1mm</option<br>
          </select>  <br><br>
  
            Infill (%):
            <select name="infill">
            <option value="10%">10%</option>
            <option value="20%">20%</option<br>
          </select>  <br><br>
  
            Soportes (Degs.):
            <select name="supports">
            <option value="45'">45'</option>
            <option value="90'">90'</option<br>
          </select>  <br><br>
  
            Velocidad:
            <select name="speed">
            <option value="Slow">Slow</option>
            <option value="Normal">Normal</option>
            <option value="Fast">Fast</option>
            <option value="Fastest">Fastest</option<br>
          </select>  <br><br>
  
            Tiempo de impresión:
            <input type="text" id="time" name="time"><br><br>
  
            Peso (gramos):
            <input type="text" id="weight" name="weight"><br><br>
  
            Número de copias:
            <input type="text" id="quantity" name="quantity"><br><br>
  
            Días para entrega:
            <input type="text" id="delivery" name="delivery"><br><br>
  
            Mostrar precio:
            <input type="text" id="showCost" name="showCost"><br><br>
            <input type="hidden" id="hidden" name="hidden">
            <input type="hidden" id="jobs" name="jobs">
  
            Precio final (IVA incluido):<br>
            --------------------------------------------------------------------------------------------<br>
          </form>
      </div>
      Enviar<br>
      <button onclick="submitForms()">Submit Query Button</button>
    </body>
  
  <script>
      function addForm(){
          clone = $('#form').clone();
          // clone.find('input[type=file]').val('');
          // clone.find('select').val('');
          // clone.find('input[type=text]').val('');
          clone.appendTo("div");
          var clients = document.getElementsByName('client');
          clients.forEach(client => {
            client.value = document.getElementById('client').value;
          });
          var dates = document.getElementsByName('date');
          dates.forEach(date => {
            date.value = document.getElementById('date').value;
          });
      }

      function modifyClientAndDate(){
        var clients = document.getElementsByName('client');
          clients.forEach(client => {
            client.value = document.getElementById('client').value;
          });
          var dates = document.getElementsByName('date');
          dates.forEach(date => {
            date.value = document.getElementById('date').value;
          });
      }
  
      function submitForms(){
        forms = document.getElementsByTagName("FORM");
        elements = document.getElementsByName('hidden');
        date = new Date();
        elements.forEach(element => {
          element.value = date;
        });
        elements = document.getElementsByName('jobs');
        elements.forEach(element => {
          element.value = forms.length;
        });
        for (var i = 0; i < forms.length; i++){
          forms[i].submit();
        }
      }
  </script>
    
  </html>